/* This, together with the two blocks below, loads our font of choice (Poppins)
 * and sets it as the primary font to use throughout the app
 * We need to mark everything as important to override Vuetify styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --jp-content-font-family: "Poppins" !important;
    --jp-ui-font-family: "Poppins" !important;

    --primary-dark: #0D47A1;
    --secondary-dark: #00838F;
    --accent-dark: #FFC400;
    --error-dark: #C5CAE9;
    --info-dark: #BF360C;
    --success-dark: #00E676;
    --warning-dark: #DD2C00;
    
    --primary-light: #1565C0;
    --secondary-light: #006064;
    --accent-light: #FFD740;
    --error-light: #121754;
    --info-light: #FF7043;
    --success-light: #388E3C;
    --warning-light: #DD2C00;
    
    --cosmicds-red: #E60001;
    --cosmicds-blue: #0F3A7E;

    --cosmicds-red-lighter: #ff4e4e;
    --cosmicds-blue-lighter: #1a63d9;
}

:root .theme--dark {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --accent: var(--accent-dark);
    --error: var(--error-dark);
    --info: var(var(--info-dark));
    --success: var(--success-dark);
    --warning: var(--warning-dark);
}

:root .theme--light {
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --accent: var(--accent-light);
    --error: var(--error-light);
    --info: var(--info-light);
    --success: var(--success-light);
    --warning: var(--warning-light);
}


html,
.v-application,
.v-application .title,
.v-application *[class^='display'] {
    font-family: "Poppins" !important;
    font-weight: 200 !important;
    font-style: normal !important;
}

/*.v-data-table__wrapper > table > tbody > tr:hover {*/
/*  background: inherit !important;*/
/*}*/

/* This removes the solara watermark */
.v-application--wrap > div:nth-child(2) > div:nth-child(2){
    display: none !important;
}

.class_buttons {
    justify-content: flex-end !important;
}

/* Educator Dashboard CSS */


.cds-dashboard {
    /* this is just a wrapper to "scope" the css styles */
}
.cds-dashboard .my-buttons {
    width: 100%;
    background-color: var(--md-blue-800) !important;
    color: white !important;
    margin-bottom: 5px;
}

.cds-dashboard .my-buttons.student-name-button {
    width: auto;
    min-width: 200px;
}

.cds-dashboard .my-cards {
    max-width: 98%;
    padding: 10px;
}

.cds-dashboard .v-dialog {
    box-shadow: none;
}

.cds-dashboard .my-success {
    margin-block: 10px;
}

.cds-dashboard .dialog-button {
    position:absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    background-color: var(--md-blue-800) !important;
    color: white !important;
}

.cds-dashboard .col {
    padding-block: 0;
}

.cds-dashboard .vertical-tabs {
    width: 100%;
}

.cds-dashboard .vertical-tabs[aria-selected="true"] {
    background-color: var(--md-deep-orange-800) !important;
    color: white;
}

.cds-dashboard .v-tabs--vertical .v-tabs-slider {
    color:  var(--md-deep-orange-800);
}

.cds-dashboard .horizontal-tabs[aria-selected="true"] {
    color: var(--md-blue-700) !important;
    font-weight: 800; 
}

.cds-dashboard .v-btn__content {
    font-size: small;
}

.cds-dashboard .v-btn--contained {
    padding-block: 0;
}

.cds-dashboard .v-card__text {
    /* color: black !important; */
    padding-top: 0;
    padding-bottom: 16px;
}

.cds-dashboard .info-text{
    padding: 0.5rem;
}

.cds-dashboard .v-expansion-panel-header {
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* Disable plotly tools */
.cds-dashboard .modebar {
    display: none !important;
}   

.cds-dashboard #click-any-row-for-more-detailed-question-information {
    padding-left: 0.625rem;  /* 10px @ 16px/rem */
}
.cds-dashboard #select-a-student-from-the-table-above-to-see-their-responses {
    padding-left: 0.625rem;   
}

.cds-dashboard .solara-markdown {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.theme--dark .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: #1e1e1e;
}

.theme--light .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: white;
}
/* make vertical tabs horizontal on tall screns */
/* 1130 to account for plot legend overlap */
@media (max-width: 1130px) {
    .cds-dashboard .v-tabs--vertical {
        display: block;
    }
    
    .cds-dashboard .v-tabs--vertical > .v-tabs-bar > .v-slide-group__wrapper {
        flex: 0 1 auto;
    }
    .cds-dashboard .v-tabs--vertical>.v-tabs-bar .v-tabs-bar__content {
        flex-direction: row
    }

}
